[submodule "extra-addons/enterprise"]
	path = extra-addons/enterprise
	url = git@git.indboo.com:Indboo-dev/enterprise.git
	branch = 14.0
[submodule "extra-addons/itadmin-indboo"]
	path = extra-addons/itadmin-indboo
	url = git@git.indboo.com:Indboo-dev/itadmin-indboo.git
	branch = 14.0
