[submodule "extra-addons/enterprise"]
	path = extra-addons/enterprise
	url = git@git.indboo.com:Indboo-dev/enterprise.git
	branch = 14.0
[submodule "extra-addons/itadmin-indboo"]
	path = extra-addons/itadmin-indboo
	url = git@git.indboo.com:Indboo-dev/itadmin-indboo.git
	branch = 14.0
[submodule "extra-addons/reporting-engine"]
	path = extra-addons/reporting-engine
	url = https://github.com/elmeriniemela/reporting-engine.git
	branch = 14.0-mig-report_py3o
[submodule "extra-addons/stock-logistics-workflow"]
	path = extra-addons/stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow
	branch = 14.0
[submodule "extra-addons/zk_machine"]
	path = extra-addons/zk_machine
	url = git@gitlab.com:juarez-technology/zk_machine.git
	branch = 14.0
